
.formdidv{

    margin-top: 200px;
    margin-left: 100px;
    width: 1700px;
    padding: 40px;
}
.formmove{
    position: relative;
    margin-left: 100px;
}
.margin_lf{
    margin-left: 100px;

}

.Image_user{

    width:100px;
    height:100px ;

}